@font-face {
	font-family: "Pragmatica";
	src: url("fonts/pragmatica.ttf");
}
@font-face {
	font-family: "Ceremonious";
	src: url("fonts/ceremonious.ttf");
}
@font-face {
	font-family: "Goodvibes";
	src: url("fonts/goodvibes.ttf");
}
@font-face {
	font-family: "Gothic";
	src: url("fonts/gothic.ttf");
}

#shadowBox {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: 0.8;
	z-index: 1001;
	display: none;
}
#configPopup {
	font-family: "Pragmatica";
	font-weight: lighter;
	position: fixed;
	width: 1440px;
	height: 907px;
	background-color: #f1f0f0;
	z-index: 1002;
	display: none;	
}
#configStep1 {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("images/step1_bg.png")  no-repeat center center;

}
#step1miniLogo {
	position: absolute;
	width: 97px;
	height: 109px;
	left: 126px;
	top: 177px;
	margin: 0;
	padding: 0;
}
#step1miniLogo {
	position: absolute;
	width: 97px;
	height: 109px;
	left: 126px;
	top: 177px;
}
#step1head {
	font-size: 60px;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 126px;
	top: 343px;
}
#step1message {
	font-size: 20px;
	line-height: 28px;
	width: 680px;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 126px;
	top: 428px;
}
#closeBtn {
	position: absolute;
	width: 41px;
	height: 41px;
	left: 1361px;
	top: 35px;
	margin: 0;
	padding: 0;
	background: url("images/close_btn.png")  no-repeat center center;
	opacity: 0.3;
	cursor: pointer;
	z-index: 1003;
}
#closeBtn:hover {
	opacity: 0.5;
}
#step1btn {
	position: absolute;
	width: 383px;
	height: 83px;
	left: 127px;
	top: 580px;
	margin: 0;
	padding: 26px 0 0 0;
	background: url("images/step1_btn.png") no-repeat center center;
	cursor: pointer;
	color: #fff;	
	font-size: 28px;
	line-height: 28px;
	text-align: center;
}
#configStep2 {
	position: relative;
	width: 100%;
	height: 100%;
}
#step2head {
	font-size: 48px;
	line-height: 34px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 72px; 	
	display: none;
}
.step2model {
	position: absolute;
	cursor: pointer;
	text-align: center;
	display: none;
}
#iphone6S {
	left: 334px;
	overflow: hidden;
	top: 265px;
	width: 170px;
}
#iphone6S img {
	height: 320px;
}
#iphone7 {
    left: 631px;
    overflow: hidden;
    top: 235px;
    width: 174px;
}
#iphone7 img {
	height: 350px;
}
#iphone7Plus {
    left: 955px;
    overflow: hidden;
    top: 200px;
    width: 191px;
}
#iphone7Plus img {
	height: 385px;
}
.step2modelName {
	font-size: 27px;
	line-height: 19px;
	padding: 30px 0 0 0;
	margin: 0;
	color: #000;
}
.step2modelPrice {
	display: none;
	font-size: 18px;
	line-height: 13px;
	padding: 10px 0 0 0;
	margin: 0;
	color: #787878;
}

#curModelContainer {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 695px;
	color: #a1a1a1;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	display: none;
	text-align: center;
}
#backToStep2 {
	text-decoration: underline;
	cursor: pointer;
}	
#backToStep3 {
	margin-top: -10px; 
	margin-bottom: 15px; 
	text-decoration: underline; 
	cursor: pointer; 
	padding-bottom: 0px; 
	font-size: 16px; 
	line-height: 15px;
	color: #707070;
	clear: both;
}
#step2btn , #step3btn{
	position: absolute;
	width: 313px;
	height: 66px;
	left: 565px;
	top: 775px;
	margin: 0;
	padding: 22px 0 0 0;
	background: url("images/step2_btn.png") no-repeat center center;
	cursor: pointer;
	color: #fff;	
	font-size: 23px;
	line-height: 16px;
	text-align: center;
	display: none;
}
#configStep3 {
	position: absolute;
	left: 761px;
	top: 0;
	display: none;
}
#step3color {
	position: absolute;
	left: 0;
	top: 212px;
}
.step3label {
	font-size: 32px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	
}
#colorContainer{
	width: 400px;
	margin: 25px 0;
}
.colorBox {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	float: left;
}
.cbSelected {
	border: 2px solid #cf1f1f;
}
#mColor {
	background-color: #ddb0c9;
}
#yColor {
	background-color: #d2c091;
}
#lgColor {
	background-color: #cdcdcd;
}
#gColor {
	background-color: #a1a1a1;
}

#blackmColor {
	background-color: #2e3034;
}

#blackgColor {
	background-color: #000;
}

#step3memory {
	position: absolute;
	left: 0;
	top: 359px;
}
#memoryContainer{
	width: 300px;
	margin: 25px 0;
}
.memoryBox {
	width: 82px;
	height: 53px;
	border-radius: 26px;
	display: none;
	border: 1px solid #a1a1a1;
	margin-right: 17px;
	color: #a1a1a1;
	text-align: center;
	font-size: 23px;
	line-height: 16px;
	padding: 18px 0 0 0;
	cursor: pointer;
	float: left;
}
.mbSelected {
	border: 1px solid #cf1f1f;
	background-color: #cf1f1f;
	color: #fff;
}
#step3price {
	display: none;
	position: absolute;
	left: 0;
	top: 510px;
}
#step3priceVal{
	font-size: 52px;
	line-height: 37px;
	padding: 19px 0 0 0;
	margin: 0;
}
#configStep4 {
	background-color: #f1f1f1;
}
#step4left, #step4main, #step4right {
	display: none;
}
#step4main {
	position: absolute;
	left: 380px;
	top: 0;
	float: left;
	width: 630px;
	height: 907px;
	padding: 0;
	margin: 0;
	
}
#step4left {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	width: 380px;
	height: 907px;
	background-color: #c1c1c1;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.step4lbHead {
	position: relative;
	width: 100%;
	height: 61px;
	font-size: 24px;
	line-height: 17px;
	background-color: #a5a5a5;
	color: #000;
	cursor: pointer;
}
.step4lbBody {
	padding: 20px 0;
}
.step4lbhIco {
	position: absolute;
	left: 34px;
	top: 15px;
	height: 26px;
}
.step4lbhTxt {
	position: absolute;
	left: 70px;
	top: 20px;
	cursor: pointer;
}
.step4lbhEdit {
	width: 17px;
	height: 17px;
	background: url("images/edit_ico.png");
	position: absolute;
	left: 288px;
	top: 23px;
	cursor: pointer;
	display: none;
}
.step4lbhDown {
	width: 19px;
	height: 10px;
	background: url("images/down_ico.png");
	position: absolute;
	left: 321px;
	top: 28px;
	cursor: pointer;
}
.step4lbbElement {
	float: left;
	text-align: center; 
	padding: 10px 0;
	cursor: pointer;
}
.el-1 {
	width: 100%;
}
.el-2 {
	width: 50%;
}
.el-3, .el-4, .el-5, .el-6, .el-7 {
	width: 31%;
}
.el-1 img, .el-2 img, .el-3 img, .el-4 img, .el-5 img, .el-6 img {
	height: 60px;
}

#base .step4lbbElement img {
	height: 89px;
	margin-bottom: 2px;
}
#table  .step4lbbElement img {
	height: 46px;
	margin-bottom: 10px;
}
.step4elName {
	font-size: 20px;
	line-height: 14px;
	color: #333;
	padding: 2px 0 0 0;
	margin: 0;
}
.step4elPrice {
	display: none;
	font-size: 14px;
	line-height: 10px;
	color: #5b5b5b;
	padding: 0;
	margin: 10px 0 0 0;
}
.cBoth {
	clear: both;
}
#step4right {
	position: absolute;
	left: 1010px;
	top: 0;
	width: 430px; 
	height: 907px; 
	padding: 0;
	margin: 0;
}
#selOtionsConainer {
	position: absolute;
	left: 0;
	top: 170px;
	background: linear-gradient(to top, #eaeaea 0%, #dedede 30%, #f1f1f1 100%);
	width: 345px; 
	height: 469px; 
	border-bottom: 1px solid #787878;
}
#socHead {
	color: #6d6d6d;
	font-size: 24px;
	line-height: 17px;
	padding: 16px 0 30px 0;
	margin: 0;
	text-align: center;
}
#selOptions {
	width: 345px; 
	height: 396px; 
	margin-bottom: 10px;
}
#actControls4 {
	position: absolute;
	top: 780px;
	left: 120px;
}
#actControls5 {
	position: absolute;
	top: 780px;
	left: 281px;
	display: none;
}
.acBlock {
	display: inline-block;
	width: 90px;
	margin: 0 10px;
	font-size: 18px;
	line-height: 13px;
	padding: 38px 0 0 0;
	text-align: center;
	color: #000;
	cursor: pointer;
}
.acbDisable {
	opacity: 0.3;
	cursor: default!important;
}
#acbZoom {
	background: url("images/zoom_ico.png") no-repeat top center;
}
#acbUndo {
	background: url("images/undo_ico.png") no-repeat top center;
}
#acbRedo {
	background: url("images/redo_ico.png") no-repeat top center;
}
#acbClear {
	background: url("images/clear_ico.png") no-repeat top center;
	color: #886464;
	margin-left: 60px;
}
#acbModify {
	background: url("images/modify_ico.png") no-repeat top center;
}
#acbShare {
	background: url("images/share_ico.png") no-repeat top center;
}
#selOptTxt {
	position: absolute;
	top: 72px;
	left: 108px;
	font-size: 48px;
	line-height: 34px;
	color: #000;
	padding: 0 0 0 44px;
	margin: 0;
	background: url("images/sel_ico.png") no-repeat center left;
}
#step4btn, #step5btn {
	position: absolute;
	top: 774px;
	left: 22px;
	width: 313px;
	height: 65px;
	color: #fff;
	font-size: 23px;
	line-height: 16px;
	text-align: center;
	background: url("images/step4_btn.png") no-repeat center center;
	padding: 22px 0 0 0;
	margin: 0;
	cursor: pointer;
	
}
#step5btn {
	display: none;
}
#totalCost {
	position: absolute;
	top: 645px;
	left: 0;
	width: 353px;
	text-align: center;
}
#totalCostTxtAfter{
	/*display: inline-block;*/
	display: none;
	content: '';
	position: absolute;
	right: -30px;
	top: -5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url(images/asker.png) no-repeat center;
	background-size: cover;
}
#totalCostInfo{
	width: 345px;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 10;
	background: rgba(0, 0, 0, 0) linear-gradient(to top, #eaeaea 0%, #dedede 30%, #f1f1f1 100%) repeat scroll 0 0;
	padding: 10px;
	/*padding-right: 30px;*/
	border: 2px solid #a5a5a5;
}
#totalCostInfoClose{
	/*display: inline-block;*/
	display: none;
	position: absolute;
	top: 4px;
	right: 5px;
	background: url(images/closer.png) no-repeat center;
	background-size: cover;
	width: 20px;
	height: 20px;
	cursor: pointer;

}
#totalCostInfoText{
	color: #000;
}
#totalCostTxt {
	position: relative;
	font-size: 24px;
	line-height: 17px;
	padding: 0 0 16px 0;
	margin: 0;
	display: inline-block;
}
#totalCostVal {
	font-size: 46px;
	line-height: 32px;
	padding: 0;
	margin: 0;
	width: 100%;
}
.optContainer {
	width: 100%;
	padding: 12px 0 0 0;
	margin: 0;
}
.optNum {
	float: left;
	width: 27px;
	padding: 0 7px;
	margin: 0;
	font-size: 19px;
	line-height: 19px;
	color: #000;
	text-align: right;
}
.optBlock {
	float: left;
	width: 271px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #bcbcbc;
}
.optName {
	float: left;
	font-size: 19px;
	line-height: 19px;
	width: 245px;
	color: #000;
	padding: 0 0 3px 0;
	margin: 0;
}
.optDel {
	float: left;
	height: 16px;
	width: 16px;
	margin: 0 0 0 10px;
	padding: 0;
	background: url("images/del_ico.png") no-repeat 0 0;
	cursor: pointer;
}
.optCost {
	display: none;
	clear: both;
	font-size: 14px;
	line-height: 10px;
	color: #707070;
	padding: 0 0 15px 0;
}
#phoneBox {
	position: absolute;
	left: 107px;
	top: 177px;
}
#phonePreview {
	position: absolute;
	left: 107px;
	top: 177px;
}
#phoneForward {
	position: absolute;
	left: 0;
	top: 0;
}

.phonePart {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.dNone {
	display: none;
}
.nicescroll-rails {
	background-color: #adadad; 
}
.paramNotSelected p{
	opacity: 0.3;
}
.paramNotSelected:hover p{
	opacity: 1;
}
#img1_6s, #img30_6s, #img31_6s, #img3_6s, #img4_6s, #img5_6s, #img6_6s {
	left: 7px;
	top: 5px;
}
#img1_7, #img30_7, #img3_7, #img4_7, #img5_7, #img39_7, #img40_7, #img41_7, #img45_7 {
	left: 9px;
	top: 7px;
}
#img1_7plus, #img30_7plus, #img3_7plus, #img4_7plus, #img5_7plus, #img39_7plus, #img40_7plus, #img41_7plus, #img45_7plus {
	left: 9px;
	top: 7px;
}
#img2_7, #img31_7, #img29_7 {
	left: 8px;
	top: 7px;
}
#img2_7plus, #img31_7plus, #img29_7plus {
	left: 8px;
	top: 7px;
}
#img2_6s, #img29_6s {
	left: 7px;
	top: 5px;
}
#img6, #img7, #img8 {
	top: 405px;
}
#img11, #img12, #img13, #img32, #img_seal_ferrari, #img_seal_rf, #img_seal_medina {
	top: 87px;
}
#img28, #img28_putin {
	top: 70px;
}
#img14_6s, #img15_6s, #img16_6s, #img17_6s, #img18_6s, #img19_6s, #img26_6s, #img27_6s {
	top: 37px;
	left: 12px;
}
#img14_7, #img15_7, #img16_7, #img17_7, #img18_7, #img19_7, #img26_7, #img27_7 {
	top: 49px;
	left: 30px;
}
#img14_7plus, #img15_7plus, #img16_7plus, #img17_7plus, #img18_7plus, #img19_7plus, #img26_7plus, #img27_7plus {
	top: 54px;
	left: 23px;
	height: 465px;
}
#img20_6s, #img21_6s, #img20e_6s, #img21e_6s, #img22_6s, #img23_6s, #img24_6s, #img25_6s {
	left: 7px;
	top: 4px;
}
#img20_7, #img21_7, #img20e_7, #img21e_7, #img22_7, #img23_7, #img24_7, #img25_7, #img37_7, #img38_7, #img42_7, #img43_7, #img44_7 {
	left: 10px;
	top: 8px;
}
#img20_7plus, #img21_7plus, #img20e_7plus, #img21e_7plus, #img22_7plus, #img23_7plus, #img24_7plus, #img25_7plus, #img37_7plus, #img38_7plus, #img42_7plus, #img43_7plus, #img44_7plus {
	left: 8px;
	top: 9px;
}
#img32 {
	top: 255px;
}
#img33, #img34, #img35, #img36 {
	position: absolute;
    left: 332px;
    top: 0;
	width: 115px;
	height: 546px;
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
	overflow:  hidden;
	display: none;
}
#img33 p, #img34 p, #img35 p, #img36 p {
	opacity: 0.7;
}
#img36 img {
	position: absolute; 
	left: 0; 
	top: 48px;
}


.edgeTxt1 {
    height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform-origin: 0 100% 0;
    width: 241px;
    overflow: hidden;
	font-weight: 600;
	opacity: 0.7;
}
.edgeTxt2 {
    height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform-origin: 0 100%;
    width: 165px;
    overflow: hidden;
	font-weight: 600;
	opacity: 0.7;
}
#img33 .edgeTxt1, #img35 .edgeTxt1 {
    left: 3px;
	top: 228px;
}
#img33 .edgeTxt2, #img35 .edgeTxt2 {
    left: 106px;
	top: 469px;
}
#img34 .edgeTxt1, #img36 .edgeTxt1 {
    left: 9px;
    top: 220px;
}
#img34 .edgeTxt2, #img36 .edgeTxt2 {
	left: 109px;
    top: 460px;
}
.imgCont {
	position: absolute;
	left: 0;
	width: 272px;
	text-align: center;
	display: none;
}

#shadowBox1 {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: 0.8;
	z-index: 1103;
	display: none;

}
#tablePopup {
	position: fixed;
	width: 547px;
	height: 548px;
	background-color: #f1f0f0;	
	z-index: 1104;
	display: none;
}
#edgePopup {
	position: fixed;
	width: 709px;
	height: 505px;
	background-color: #f1f0f0;	
	z-index: 1104;
	display: none;
}
#finishPopup {
	position: fixed;
	width: 709px;
	height: 405px;
	font-family: "Pragmatica";
	background-color: #f1f0f0;	
	z-index: 1104;
	display: none;
}
#tPopupHead {
	position: absolute;
	left: 93px;
	top: 32px;
	font-size: 29px;
	line-height: 20px;
	color: #000;
}
#ePopupHead {
	position: absolute;
	left: 215px;
	top: 32px;
	font-size: 29px;
	line-height: 20px;
	color: #000;
}
#fPopupHead {
	position: absolute;
	left: 167px;
	top: 59px;
	font-size: 38px;
	line-height: 27px;
	color: #000;
}
#fPopupTxt {
	position: absolute;
	width: 509px;
	left: 100px;
	top: 130px;
	text-align: center;
	font-size: 21px;
	line-height: 29px;
}
#tPopupClose {
	position: absolute;
	right: 27px;
	top: 29px;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background: url("images/tpopup_close.png") no-repeat center center;
	opacity: 0.3;
}
#ePopupClose {
	position: absolute;
	right: 108px;
	top: 29px;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background: url("images/tpopup_close.png") no-repeat center center;
	opacity: 0.3;
}
#tPopupClose:hover, #ePopupClose:hover {
	opacity: 1;
}
#tPopupImgCont {
	position: absolute;
	top: 95px;
	width: 100%;
	height: 146px;
	text-align: center;
}
#ePopupImgCont {
    height: 100px;
    position: absolute;
    text-align: center;
    top: 113px;
    width: 100%;
}
.tableTxt {
	position: absolute; 
	left: 53px;
	top: 17px; 
	margin: 0; 
	padding: 0; 
	width: 165px; 
	height: 98px; 
	overflow: hidden;
	color: #725a37;
	text-shadow: 0 1px 1px #fff;
}
.tableImgCont {
	transform: scale(0.5, 0.5);
	transform-origin: 50% 0;
}
#tPopupTxt {
	position: absolute;
	left: 186px;
	top: 112px;
	width: 165px;
	height: 98px;
	padding: 5px;
	border: 2px solid rgba(255,0,0,0.36);
	color: #725a37;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	overflow:  hidden;
	font-family: "Gothic";
}
.ePopupTxt {
	position: absolute;
	height: 16px;
	padding: 0;
	margin: 0;
	color: #000;
	opacity: 0.7;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
	overflow:  hidden;
	font-family: "Gothic";
}
#ePopupTxt1 {
	left: 391px;
	top: 127px;
	width: 165px;
}
#ePopupTxt2 {
	left: 315px;
	top: 184px;
	width: 241px;
}
#tPopupTxtInp {
	position: absolute;
	left: 96px;
	top: 265px;
	width: 321px;
	height: 70px;
	padding: 10px;
	border: 1px solid #bcbcbc;
	background-color: #e6e7e7;
	font-size: 20px;
	line-height: 24px;
	color: #000; 
	text-align: center;
	resize: none;
	overflow:  hidden;
}
.ePopupTxtInp {
	position: absolute;
	left: 85px;
	width: 304px;
	height: 46px;
	padding: 0 10px;
	border: 1px solid #bcbcbc;
	background-color: #e6e7e7;
	font-size: 20px;
	line-height: 46px;
	color: #000; 
	text-align: center;
	resize: none;
	overflow:  hidden;
}
#ePopupTxt1Inp {
	top: 261px;
}
#ePopupTxt2Inp {
	top: 327px;
}
#tPopupFNameContainer {
	position: absolute;
	left: 96px;
	top: 384px;
	width: 201px;
	height: 48px;
}
#ePopupFNameContainer {
	position: absolute;
	left: 425px;
	top: 261px;
	width: 201px;
	height: 48px;
}
#tPopupFSizeContainer {
	position: absolute;
	left: 314px;
	top: 384px;
	width: 123px;
	height: 48px;
}

#tPopupFNameContainer li[data-index="0"], #ePopupFNameContainer li[data-index="0"] {
	font-family: "Gothic";
}
#tPopupFNameContainer li[data-index="1"], #ePopupFNameContainer li[data-index="1"] {
	font-family: "Goodvibes";
}
#tPopupFNameContainer li[data-index="2"], #ePopupFNameContainer li[data-index="2"] {
	font-family: "Ceremonious";
}
#tPopupBtn {
	position: absolute;
	left: 186px;
	top: 463px;
	width: 178px;
	height: 48px;	
	padding: 15px 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 23px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
	background: url("images/tpopup_btn.png") no-repeat center center;
}
#ePopupBtn {
	position: absolute;
	left: 267px;
	top: 418px;
	width: 178px;
	height: 48px;	
	padding: 15px 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 23px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
	background: url("images/tpopup_btn.png") no-repeat center center;
}
#fPopupBtn {
	position: absolute;
	left: 267px;
	top: 305px;
	width: 178px;
	height: 36px;	
	padding: 13px 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 23px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
	background: url("images/tpopup_btn.png") no-repeat center center;
}
.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.rotate270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.lineBtm {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: url("images/_control_delimiter.jpg") repeat-x center center;
}
.fullImg {
	position: fixed;
}
#configStep5 {
	display: none;
}
#finalTxt {
	position: absolute;
	top: 72px;
	left: 507px;
	font-size: 48px;
	line-height: 34px;
    font-family: "Pragmatica";
    font-weight: lighter;
	color: #000;
	padding: 0;
	margin: 0;
}
#preTxt {
	position: absolute;	
	left: 824px;
	top: 198px;
	width: 343px;
	font-size: 16px;
	line-height: 19px;
	padding: 0;
	margin: 0;
}
#configStep5 input {
	position: absolute;
	left: 824px;
	background-color: #e6e7e7;
	border: 1px solid #bdbdbd;
	font-size: 20px;
	line-height: 24px;
	color: #818181;
	width: 309px;
	height: 48px;
	padding: 11px;
	margin: 0;
	font-family: "Pragmatica";
    font-weight: lighter;
	color: #000;
}

#clientName {
    top: 273px;
}
#clientPhone {
    top: 337px;
}
#clientEmail {
    top: 401px;
}
#clientSay {
    background-color: #e6e7e7;
    border: 1px solid #bdbdbd;
    color: #000000;
    font-family: "Pragmatica";
    font-size: 20px;
    font-weight: lighter;
    height: 125px;
    left: 824px;
    line-height: 24px;
    margin: 0;
    padding: 16px;
    position: absolute;
    resize: none;
    top: 465px;
    width: 309px;
}
.inpError {
	border: 1px solid #ff0000!important;
}
.pluso {
	position: absolute;
    left: 300px;
    top: 735px;	
}
#configStep5::-webkit-input-placeholder {color:#818181;}
#configStep5::-moz-placeholder          {color:#818181;}
#configStep5:-moz-placeholder           {color:#818181;}
#configStep5:-ms-input-placeholder      {color:#818181;}
#configStep5::-webkit-input-placeholder {color:#818181;}
#configStep5::-moz-placeholder          {color:#818181;}
#configStep5:-moz-placeholder           {color:#818181;}
#configStep5:-ms-input-placeholder      {color:#818181;}

