<div id="configStep4">
    <div id="step4left">
        <!--					<div class="step4block" id="base">
                                <div class="step4lbHead">
                                    <div class="lineBtm"></div>
                                    <div class="step4lbhIco">
                                        <img data-src="config/images/smartphone-ico.png">
                                    </div>
                                    <div class="step4lbhTxt">Основа телефона</div>
                                    <div class="step4lbhDown rotate180"></div>
                                </div>
                                <div class="step4lbBody">
                                    <div class="step4lbbElement el-2">
                                        <img data-src="config/images/frame.png">
                                        <p class="step4elName">Пластина</p>
                                    </div>
                                    <div class="step4lbbElement el-2">
                                        <img data-src="config/images/plate.png">
                                        <p class="step4elName">Рамка</p>
                                    </div>
                                    <div class="cBoth"></div>
                                </div>
                            </div>-->
    </div>
    <div id="step4main">
        <p id="selOptTxt">Выберите опции</p>
        <div id="phonePreview">
        </div>
        <div id="phoneBox">
            <img data-src="config/images/elements-6s/_i6s_layer_backplate_gold_custom.png" class="phonePart" id="img1_6s"> <!-- Пластина золото -->
            <img data-src="config/images/elements-7/_i7_layer_plate_gold_custom.png" class="phonePart" id="img1_7"> <!-- Пластина золото -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_gold_custom.png" class="phonePart" id="img1_7plus"> <!-- Пластина золото -->
            <img data-src="config/images/elements-6s/_i6s_layer_backplate_ti_custom.png" class="phonePart" id="img2_6s"> <!-- Пластина титан -->
            <img data-src="config/images/elements-7/_i7_layer_plate_ti_custom.png" class="phonePart" id="img2_7"> <!-- Пластина титан -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_ti_custom.png" class="phonePart" id="img2_7plus"> <!-- Пластина титан -->

            <img data-src="config/images/elements-6s/_i6s_layer_backplate_gold_squares.png" class="phonePart" id="img3_6s"> <!-- Узор золотой пластины Squares -->
            <img data-src="" class="phonePart" id="img3_7"> <!-- Узор золотой пластины Squares -->
            <img data-src="" class="phonePart" id="img3_7plus"> <!-- Узор золотой пластины Squares -->
            <img data-src="config/images/elements-6s/_i6s_layer_backplate_gold_wave.png" class="phonePart" id="img4_6s"> <!-- Узор золотой пластины Wave -->
            <img data-src="config/images/elements-7/_i7_layer_plate_gold_wave.png" class="phonePart" id="img4_7"> <!-- Узор золотой пластины Wave -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_gold_wave.png" class="phonePart" id="img4_7plus"> <!-- Узор золотой пластины Wave -->
            <img data-src="config/images/elements-6s/_i6s_layer_backplate_gold_russo.png" class="phonePart" id="img5_6s"> <!-- Узор золотой пластины Russo -->
            <img data-src="config/images/elements-7/_i7_layer_plate_gold_russo.png" class="phonePart" id="img5_7"> <!-- Узор золотой пластины Russo -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_gold_russo.png" class="phonePart" id="img5_7plus"> <!-- Узор золотой пластины Russo -->
            <img data-src="" class="phonePart" id="img39_6s"> <!-- Узор золотой пластины Triangles -->
            <img data-src="config/images/elements-7/_i7_layer_plate_gold_triangles.png" class="phonePart" id="img39_7"> <!-- Узор золотой пластины Triangles -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_gold_triangles.png" class="phonePart" id="img39_7plus"> <!-- Узор золотой пластины Triangles -->

            <img data-src="config/images/elements-6s/_i6s_layer_backplate_ti_russia.png" class="phonePart" id="img29_6s"> <!-- Узор титановой пластины Russia -->
            <img data-src="" class="phonePart" id="img29_7"> <!-- Узор титановой пластины Russia -->
            <img data-src="" class="phonePart" id="img29_7plus"> <!-- Узор титановой пластины Russia -->
            <img data-src="" class="phonePart" id="img40_6s"> <!-- Узор титановой пластины Triangles -->
            <img data-src="config/images/elements-7/_i7_layer_plate_ti_triangles.png" class="phonePart" id="img40_7"> <!-- Узор титановой пластины Triangles -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_ti_triangles.png" class="phonePart" id="img40_7plus"> <!-- Узор титановой пластины Triangles -->
            <img data-src="" class="phonePart" id="img41_6s"> <!-- Узор титановой пластины Wave -->
            <img data-src="config/images/elements-7/_i7_layer_plate_ti_wave.png" class="phonePart" id="img41_7"> <!-- Узор титановой пластины Wave -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_ti_wave.png" class="phonePart" id="img41_7plus"> <!-- Узор титановой пластины Wave -->
            <img data-src="" class="phonePart" id="img45_6s"> <!-- Узор титановой пластины Russo -->
            <img data-src="config/images/elements-7/_i7_layer_plate_ti_russo.png" class="phonePart" id="img45_7"> <!-- Узор титановой пластины Russo -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_ti_russo.png" class="phonePart" id="img45_7plus"> <!-- Узор титановой пластины Russo -->



            <img data-src="config/images/elements-6s/_i6s_layer_backplate_gold_custom.png" class="phonePart" id="img30_6s"> <!-- Свой узор золотой пластины -->
            <img data-src="config/images/elements-7/_i7_layer_plate_gold_custom.png" class="phonePart" id="img30_7"> <!-- Свой узор золотой пластины -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_gold_custom.png" class="phonePart" id="img30_7plus"> <!-- Свой узор золотой пластины -->
            <img data-src="config/images/elements-6s/_i6s_layer_backplate_ti_custom.png" class="phonePart" id="img31_6s"> <!-- Свой узор титановой пластины -->
            <img data-src="config/images/elements-7/_i7_layer_plate_ti_custom.png" class="phonePart" id="img31_7"> <!-- Свой узор титановой пластины -->
            <img data-src="config/images/elements-7/_i7plus_layer_plate_ti_custom.png" class="phonePart" id="img31_7plus"> <!-- Свой узор титановой пластины -->



            <img data-src="config/images/_i6s_layer_leather_type1.jpg" class="phonePart" id="img14_6s"> <!-- Тип кожи 1 -->
            <img data-src="config/images/_i6s_layer_leather_type2.jpg" class="phonePart" id="img15_6s"> <!-- Тип кожи 2 -->
            <img data-src="config/images/_i6s_layer_leather_type3.jpg" class="phonePart" id="img16_6s"> <!-- Тип кожи 3 -->
            <img data-src="config/images/_i6s_layer_leather_type4.jpg" class="phonePart" id="img17_6s"> <!-- Тип кожи 4 -->
            <img data-src="config/images/_i6s_layer_leather_type5.jpg" class="phonePart" id="img18_6s"> <!-- Тип кожи 5 -->
            <img data-src="config/images/_i6s_layer_leather_type6.jpg" class="phonePart" id="img19_6s"> <!-- Тип кожи 6 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type1.png" class="phonePart" id="img14_7"> <!-- Тип кожи 1 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type2.png" class="phonePart" id="img15_7"> <!-- Тип кожи 2 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type3.png" class="phonePart" id="img16_7"> <!-- Тип кожи 3 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type4.png" class="phonePart" id="img17_7"> <!-- Тип кожи 4 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type5.png" class="phonePart" id="img18_7"> <!-- Тип кожи 5 -->
            <img data-src="config/images/elements-7/_i7_layer_leather_type6.png" class="phonePart" id="img19_7"> <!-- Тип кожи 6 -->
            <img data-src="config/images/_i6s_layer_leather_type1.jpg" class="phonePart" id="img14_7plus"> <!-- Тип кожи 1 -->
            <img data-src="config/images/_i6s_layer_leather_type2.jpg" class="phonePart" id="img15_7plus"> <!-- Тип кожи 2 -->
            <img data-src="config/images/_i6s_layer_leather_type3.jpg" class="phonePart" id="img16_7plus"> <!-- Тип кожи 3 -->
            <img data-src="config/images/_i6s_layer_leather_type4.jpg" class="phonePart" id="img17_7plus"> <!-- Тип кожи 4 -->
            <img data-src="config/images/_i6s_layer_leather_type5.jpg" class="phonePart" id="img18_7plus"> <!-- Тип кожи 5 -->
            <img data-src="config/images/_i6s_layer_leather_type6.jpg" class="phonePart" id="img19_7plus"> <!-- Тип кожи 6 -->

            <img data-src="config/images/_i6s_layer_carbon_type1.jpg" class="phonePart" id="img26_6s"> <!-- Тип карбон 1-->
            <img data-src="config/images/elements-7/_i7_layer_carbon_type1.png" class="phonePart" id="img26_7"> <!-- Тип карбон 1-->
            <img data-src="config/images/_i6s_layer_carbon_type1.jpg" class="phonePart" id="img26_7plus"> <!-- Тип карбон 1-->

            <img data-src="config/images/_i6s_layer_wood_type1.jpg" class="phonePart" id="img27_6s"> <!-- Тип дерево 1-->
            <img data-src="config/images/elements-7/_i7_layer_wood_type1.png" class="phonePart" id="img27_7"> <!-- Тип дерево 1-->
            <img data-src="config/images/_i6s_layer_wood_type1.jpg" class="phonePart" id="img27_7plus"> <!-- Тип дерево 1-->


            <img data-src="config/images/elements-6s/_i6s_layer_frame_gold_custom.png" class="phonePart" id="img20_6s"> <!-- Рамка золото -->
            <img data-src="config/images/elements-7/_i7_layer_frame_gold_custom.png" class="phonePart" id="img20_7"> <!-- Рамка золото -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_gold_custom.png" class="phonePart" id="img20_7plus"> <!-- Рамка золото -->
            <img data-src="config/images/elements-6s/_i6s_layer_frame_ti_custom.png" class="phonePart" id="img21_6s"> <!-- Рамка титан -->
            <img data-src="config/images/elements-7/_i7_layer_frame_ti_custom.png" class="phonePart" id="img21_7"> <!-- Рамка титан -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_ti_custom.png" class="phonePart" id="img21_7plus"> <!-- Рамка титан -->


            <img data-src="config/images/elements-6s/_i6s_layer_frame_gold_squares.png" class="phonePart" id="img22_6s"> <!-- Узор золотой рамки Squares -->
            <img data-src="" class="phonePart" id="img22_7"> <!-- Узор золотой рамки Squares -->
            <img data-src="" class="phonePart" id="img22_7plus"> <!-- Узор золотой рамки Squares -->
            <img data-src="config/images/elements-6s/_i6s_layer_frame_gold_halal.png" class="phonePart" id="img23_6s"> <!-- Узор золотой рамки Halal -->
            <img data-src="" class="phonePart" id="img23_7"> <!-- Узор золотой рамки Halal -->
            <img data-src="" class="phonePart" id="img23_7plus"> <!-- Узор золотой рамки Halal -->
            <img data-src="config/images/elements-6s/_i6s_layer_frame_gold_russo.png" class="phonePart" id="img24_6s"> <!-- Узор золотой рамки Russo -->
            <img data-src="config/images/elements-7/_i7_layer_frame_gold_russo.png" class="phonePart" id="img24_7"> <!-- Узор золотой рамки Russo -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_gold_russo.png" class="phonePart" id="img24_7plus"> <!-- Узор золотой рамки Russo -->
            <img data-src="" class="phonePart" id="img37_6s"> <!-- Узор  золотой рамки Triangles-->
            <img data-src="config/images/elements-7/_i7_layer_frame_gold_triangles.png" class="phonePart" id="img37_7"> <!-- Узор  золотой рамки Triangles-->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_gold_triangles.png" class="phonePart" id="img37_7plus"> <!-- Узор  золотой рамки Triangles-->
            <img data-src="" class="phonePart" id="img38_6s"> <!-- Узор  золотой рамки Wave-->
            <img data-src="config/images/elements-7/_i7_layer_frame_gold_wave.png" class="phonePart" id="img38_7"> <!-- Узор  золотой рамки Wave-->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_gold_wave.png" class="phonePart" id="img38_7plus"> <!-- Узор  золотой рамки Wave-->

            <img data-src="config/images/elements-6s/_i6s_layer_frame_ti_cella.png" class="phonePart" id="img25_6s"> <!-- Узор титановой рамки TiTouch - Cella -->
            <img data-src="" class="phonePart" id="img25_7"> <!-- Узор титановой рамки TiTouch - Cella -->
            <img data-src="" class="phonePart" id="img25_7plus"> <!-- Узор титановой рамки TiTouch - Cella -->
            <img data-src="" class="phonePart" id="img42_6s"> <!-- Узор титановой рамки Triangles -->
            <img data-src="config/images/elements-7/_i7_layer_frame_ti_triangles.png" class="phonePart" id="img42_7"> <!-- Узор титановой рамки Triangles -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_ti_triangles.png" class="phonePart" id="img42_7plus"> <!-- Узор титановой рамки Triangles -->
            <img data-src="" class="phonePart" id="img43_6s"> <!-- Узор титановой рамки Russo -->
            <img data-src="config/images/elements-7/_i7_layer_frame_ti_russo.png" class="phonePart" id="img43_7"> <!-- Узор титановой рамки Russo -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_ti_russo.png" class="phonePart" id="img43_7plus"> <!-- Узор титановой рамки Russo -->
            <img data-src="" class="phonePart" id="img44_6s"> <!-- Узор титановой рамки Wave -->
            <img data-src="config/images/elements-7/_i7_layer_frame_ti_wave.png" class="phonePart" id="img44_7"> <!-- Узор титановой рамки Wave -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_ti_wave.png" class="phonePart" id="img44_7plus"> <!-- Узор титановой рамки Wave -->

            <img data-src="config/images/elements-6s/_i6s_layer_frame_gold_custom.png" class="phonePart" id="img20e_6s"> <!-- Свой узор золотой рамки -->
            <img data-src="config/images/elements-7/_i7_layer_frame_gold_custom.png" class="phonePart" id="img20e_7"> <!-- Свой узор золотой рамки -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_gold_custom.png" class="phonePart" id="img20e_7plus"> <!-- Свой узор золотой рамки -->
            <img data-src="config/images/elements-6s/_i6s_layer_frame_ti_custom.png" class="phonePart" id="img21e_6s"> <!-- Свой узор титановой рамки -->
            <img data-src="config/images/elements-7/_i7_layer_frame_ti_custom.png" class="phonePart" id="img21e_7"> <!-- Свой узор титановой рамки -->
            <img data-src="config/images/elements-7/_i7plus_layer_frame_ti_custom.png" class="phonePart" id="img21e_7plus"> <!-- Свой узор титановой рамки -->



            <div id="img6" class="imgCont">
                <div class="tableImgCont">
                    <img data-src="config/images/t_standard.png"> <!-- Табличка Standard -->
                    <p class="tableTxt"></p>
                </div>
            </div>
            <div id="img7" class="imgCont">
                <div class="tableImgCont">
                    <img data-src="config/images/t_square.png"> <!-- Табличка Square -->
                    <p class="tableTxt"></p>
                </div>
            </div>
            <div id="img8" class="imgCont">
                <div class="tableImgCont">
                    <img data-src="config/images/t_angular.png"> <!-- Табличка Angular -->
                    <p class="tableTxt"></p>
                </div>
            </div>

            <div id="img11" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_mercedes.png"></div> <!-- Логотип Mercedes -->
            <div id="img12" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_porsche.png"></div> <!-- Логотип Porsche -->
            <div id="img13" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_standard.png"></div> <!-- Логотип Caviar -->
            <div id="img_seal_ferrari" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_ferrari.png"></div> <!-- Логотип Ferrari -->
            <div id="img_seal_rf" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_rfseal.png"></div> <!-- Логотип Russia -->
            <div id="img_seal_medina" class="imgCont"><img data-src="config/images/elements-logo/_i6s_layer_logo_gold_medina.png"></div> <!-- Логотип Medina -->


            <div id="img28" class="imgCont"><img data-src="config/images/_i6s_layer_barelief_gold.png"></div> <!-- Барельеф -->
            <div id="img28_putin" class="imgCont"><img data-src="config/images/_i6s_layer_barelief_putin_gold.png"></div>

            <div id="img32" class="imgCont"><img data-src="config/images/_i6s_layer_coat_rf_gold.png"></div> <!-- Герб России -->

            <div id="img33">
                <p class="edgeTxt1 rotate90"></p>
                <p class="edgeTxt2 rotate270"></p>
            </div>
            <div id="img34">
                <p class="edgeTxt1 rotate90"></p>
                <p class="edgeTxt2 rotate270"></p>
            </div>
            <!--<div id="img34-2">-->
            <!--<p class="edgeTxt1 rotate90"></p>-->
            <!--<p class="edgeTxt2 rotate270"></p>-->
            <!--</div>-->
            <div id="img35">
                <p class="edgeTxt1 rotate90"></p>
                <p class="edgeTxt2 rotate270"></p>
            </div>
            <div id="img36">
                <img data-src="config/images/elements-6s/_i6s_layer_engraving_insets_gold_visualisation.png"> <!-- Ювелирная вставка -->
                <p class="edgeTxt1 rotate90"></p>
                <p class="edgeTxt2 rotate270"></p>
            </div>
            <!--<div id="img36-2">-->
            <!--<p class="edgeTxt1 rotate90"></p>-->
            <!--<p class="edgeTxt2 rotate270"></p>-->
            <!--</div>-->


        </div>
        <div id="actControls4">
            <div class="acBlock acbDisable" id="acbUndo">Отменить</div>
            <div class="acBlock acbDisable" id="acbRedo">Вернуть</div>
            <div class="acBlock" id="acbClear">Стереть</div>
        </div>
    </div>
    <div id="step4right">
        <div id="selOtionsConainer">
            <p id="socHead">Выбранные опции:</p>
            <div id="selOptions">
            </div>
        </div>
        <div id="totalCost">
            <p id="totalCostTxt">Примерная стоимость:<span id="totalCostTxtAfter"></span></p>
            <div id="totalCostInfo">
                <div id="totalCostInfoClose"></div>
                <div id="totalCostInfoText">Конечную стоимость вам сообщит менеджер отдела продаж, после уточнения с вами всех тонкостей заказа.</div>
            </div>
            <p id="totalCostVal">100 000,-</p>
        </div>

        <div id="step4btn">Перейти к оформлению</div>
        <div id="step5btn">Оформить заказ</div>
    </div>

    <img id="boxStandard" class="fullImg dNone" data-src="config/images/elements-box/_box_standard.jpg">
    <img id="boxRussia" class="fullImg dNone" data-src="config/images/elements-box/_box_russia.jpg">
    <img id="boxMotore" class="fullImg dNone" data-src="config/images/elements-box/_box_motore.jpg">

    <img id="caseFirenze" class="fullImg dNone" data-src="config/images/elements-cases/_case_firenze.png">
    <img id="caseCarbon" class="fullImg dNone" data-src="config/images/elements-cases/_case_carbon.png">
    <img id="caseBianco" class="fullImg dNone" data-src="config/images/elements-cases/_case_bianco.png">
    <img id="caseMagenta" class="fullImg dNone" data-src="config/images/elements-cases/_case_magenta.png">

</div>